body, html {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  background-size: cover;
}

main {
  width: 1000px;
  display: flex;
  gap: 2rem;
}

.background-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}

.card {
  background-color: rgba(248, 249, 250, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.today-weather-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.resize {
  width: 300px;
  height: 200px;
}

@keyframes skeleton-loading {
  to {
    background-position: left;
  }
}

.skeleton-loading {
  background: linear-gradient(90deg, #ddda 40%, #efefefaa, #ddda 60%) right / 300% 100%;
  animation: skeleton-loading 1.5s linear infinite;
}