body, html {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}

main {
  width: 1000px;
  display: flex;
  gap: 2rem;
}

.today-weather-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.weekly-forecast-box {
  background-color: #f8f9faa4;
  width: 300px;
  padding: 12px 20px 8px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.current-weather-box {
  background-color: gainsboro;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.resize {
  width: 300px;
  height: 200px;
}
