.current-weather-box {
  min-height: 304px;
  max-width: 44rem;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
}

.left-weather-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.current-city h1 {
  font-size: 350%;
  font-weight: bold;
  margin: 0;
}

.weather-box {
  display: flex;
}

.info-weather .weather {
  margin-right: 1rem;
}

.current-weather-box .temperature {
  font-size: 3rem;
  font-weight: 300;
}

.description {
  display: none;
}

.weather-details {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #d1d5db;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-details .label-text  {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.weather-details .value-text {
  font-size: 1.25rem;
}

.humidity i,
.wind i {
  display: none;
}

.humidity,
.wind {
  margin: auto 0;
}

.text p {
  color: #6b7280;
  margin: 0;
}

.right-weather-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.right-weather-box img {
  width: 12rem;
  height: auto;
  margin-top: 1rem;
  align-items: center;
}

.info-weather .weather img {
  display: flex;

}

p {
  font-size: 100%;
  color: black;
  font-weight: bold;
}
