

.today-forecast-box {
  width: 640px;
  max-width: 640px;
  display: flex;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.hour {
  text-align: center;
  padding: 10px;
  flex: 1;
}

.time{
  margin-bottom: 8px;
  color:#666;
}

.hour img {
  width: 48px;
  height: auto;
  margin-bottom: 5px;
}
.temperature {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

