.weekly-forecast-box p {
  margin: 0;
}

.weekly-forecast-box .weather-icon {
  width: 32px;
  height: auto;
}

.day-forecast {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #bcbcbc;
  padding: 16px 0;
  font-size: 18px;
}

.day-forecast:last-child {
  border-bottom: none;
}

.max-temperature {
  color: #ff5656;
}

.min-temperature {
  color: #5656ff;
}